<div class="sale-details">
  <mat-toolbar>
    <span class="sale-details-header-item">
      Quote # {{quote.id}}
    </span>
    <span class="sale-details-header-status">
      Status: <span style="font-size: smaller; font-weight: lighter">{{quote.status}}</span>
    </span>
    <span class="toolbar-spacer"></span>
    <mat-chip-list>
    <mat-chip><a href="#">View Internal Notes</a></mat-chip>
    <mat-chip><a href="#">Edit Quote</a></mat-chip>
    <mat-chip><a href="#">Duplicate Quote</a></mat-chip>
    <mat-chip><a href="#">Convert to Sales Order</a></mat-chip>
    </mat-chip-list>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <div>
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-card-title  class="dashboard-card-title">
            Shipping Information
          </mat-card-title>
          <!-- <mat-card-subtitle>{{card.description}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <section class="mat-typography">
          <h3>Ship-To Address </h3>
          <p>{{quote?.customer?.organization?.shipTo?.name}}</p>
          <h3>Ship-To BP </h3>
          <p>{{quote?.customer?.organization?.bp_name}}</p>
          <h3>Address </h3>
          <p>{{quote?.customer?.organization?.shipTo | address}}</p>
          <!-- <p>{{quote?.customer?.organization?.address?.street}} , 
             {{quote?.customer?.organization?.address?.zip}} 
             {{quote?.customer?.organization?.address?.city}} ,
             {{quote?.customer?.organization?.address?.state}}
          </p> -->
          <h3>Ship-To Contact </h3>
          <p>
            {{quote?.customer?.organization?.contact?.firstName}}
            {{quote?.customer?.organization?.contact?.lastName}}
          </p>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
      <mat-card class="dashboard-card">
          <mat-card-header class="dashboard-card-header">
            <mat-card-title  class="dashboard-card-title">
              Billing and Credit Information
            </mat-card-title>
            <!-- <mat-card-subtitle>{{card.description}}</mat-card-subtitle> -->
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <section class="mat-typography">
            <h3>Sold-To Address </h3>
            <p>{{quote?.customer?.organization?.address?.name}}</p>
            <h3>Ship-To BP </h3>
            <p>{{quote?.customer?.organization?.bp_name}}</p>
            <h3>Address </h3>
            <p>{{quote?.customer?.organization?.address | address}}</p>
            <h3>Ship-To Contact </h3>
            <p>Mike DeCampo</p>
            <mat-grid-list class="dashboard-card-grid" cols="3" rowHeight="100px">
                <mat-grid-tile>
                    <h3>Currency Selection </h3> <br>
                    <p>USD</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <h3>Terms of Payment </h3><br>
                    <p>Net 30 Days</p>
                </mat-grid-tile>
                <mat-grid-tile></mat-grid-tile>
            </mat-grid-list>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card class="dashboard-card">
          <mat-card-title  class="dashboard-card-title">
             Quote Information
          </mat-card-title>
          <mat-card-content class="dashboard-card-content">
              <section class="mat-typography">
                <h3>Placed By</h3>
                <p>Email</p>
              </section>
              <section class="mat-typography">
                <h3>Sales Order Type</h3>
                <p>001</p>
              </section>
              <section class="mat-typography">
                <h3>Sales Office</h3>
                <p>SPUJ001 - Americas SPC Sales</p>
              </section>
          </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card class="dashboard-card">
          <mat-card-title  class="dashboard-card-title">
              List Items
          </mat-card-title>
          <mat-card-content class="dashboard-card-content">
              <section class="mat-typography">
                <h3>Requested Date</h3>
                <p>{{quote.quotedOn | date: shortDate}}</p>
              </section>
              <section>
                <div class="item-list-header">Items:</div>
              </section>
            </mat-card-content>
          </mat-card>
      </div>
</div>