
<mat-sidenav-container class="sidenav-container mat-elevation-z2">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="side"
    >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div mat-list-item style="text-align:left; margin-left: 1em">Sales Functions</div>
      <a mat-list-item routerLink="" style="margin-left: 1em" (click)="drawer.toggle()">Home</a>
      <a mat-list-item [routerLink]="['/customer']"  (click)="drawer.toggle()">Customer Account</a>
      <a mat-list-item href="#" style="margin-left: 1em">Sales Orders</a>
      <a mat-list-item href="#" style="margin-left: 1em">Quotations</a>
      <a mat-list-item href="#" style="margin-left: 1em">Price Inquiry</a>
      <a mat-list-item href="#" style="margin-left: 1em">Invoices</a>
      <a mat-list-item href="#" style="margin-left: 1em">Inventory Fulfillment Inquiry</a>
      <a mat-list-item href="#" style="margin-left: 1em">So Blocking</a>
      <div mat-list-item style="text-align:left; margin-left: 1em">Returns Functions</div>
      <a mat-list-item href="#" style="margin-left: 1em">Maintenance SOs</a>
      <a mat-list-item href="#" style="margin-left: 1em">MSO Part Line</a>
      <div mat-list-item style="text-align:left; margin-left: 1em">Service Functions</div>
      <a mat-list-item href="#" style="margin-left: 1em">Configuration</a>
      <a mat-list-item href="#" style="margin-left: 1em">Calls</a>
      <a mat-list-item href="#" style="margin-left: 1em">SIR</a>
      <a mat-list-item href="#" style="margin-left: 1em">SIF</a>
      <a mat-list-item href="#" style="margin-left: 1em">Service Knowledge Center</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="stretch" style="padding-right: 0px; overflow-y: hidden">

      <div  fxFlex="0 1 calc(4% - 5px)" class="sidenav">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    </div>
      <div fxFlex="0 1 calc(6% - 5px)" class="top-toolbar">
          <img src="../../assets/husky-logo.png" class="husky-logo" aria-label="husky logo">
      </div>
      <div fxFlex="0 1 calc(90% - 5px)" class="top-toolbar">
          <ng-template #customerSearch></ng-template><!--This is placeholder for dynamically created component-->
      </div>

    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
