<mat-toolbar>
  <mat-toolbar-row class="top-bar">
  <button mat-icon-button>
    <mat-icon class="husky-icon" aria-label="menu">menu</mat-icon>
  </button>
  <img src="assets/husky-logo.png" class="husky-logo" aria-label="husky logo">
  <span class="toolbar-spacer"></span>
  <div class="search-autocomplete">
    <span >
      <button mat-stroked-button class="search-button" aria-label="search">
      Search
      </button>
    </span>
    <input type="text" value="" class="search-text" aria-label="search term">
  </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-chips">
    <mat-chip-list>
      <mat-chip>Quick Links</mat-chip>
      <mat-chip>SO Blocking</mat-chip>
      <mat-chip>Inventory Fulfillment Inquiry</mat-chip>
      <mat-chip>Price Inquiry</mat-chip>
      <mat-chip>Configurations</mat-chip>
      <mat-chip>MSO</mat-chip>
      <mat-chip>Service Knowledge Center</mat-chip>
    </mat-chip-list>
  </mat-toolbar-row>
</mat-toolbar>
