<mat-card *ngIf="dataSource.data.length === 0" class="no-data">
  <mat-card-subtitle>No data has been found.</mat-card-subtitle>
</mat-card>
<div  *ngIf="dataSource.data.length > 0">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="quoteNumber">
          <ng-container *ngIf="fullView">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field class="filter" floatLabel="never">
                <mat-label>Quotation #</mat-label>
                <input matInput [formControl]="quoteNumFilter">
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container *ngIf="!fullView">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quotation #</th>
          </ng-container>
      <td mat-cell *matCellDef="let element">
        <a (click)="viewDetails(element)" [matTooltip]="'See the details'" mat-button>{{element.quoteNumber}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="soldtoBPName">
      <ng-container *ngIf="fullView">
       <th mat-header-cell *matHeaderCellDef>
        <mat-form-field class="filter" floatLabel="never" style="margin-bottom:30px;min-width: 200px">
          <mat-label>Customer Name</mat-label>
          <input matInput [formControl]="bpNameFilter">
        </mat-form-field>
      </th>       
      </ng-container>
      <ng-container *ngIf="!fullView">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
      </ng-container>
      <td mat-cell *matCellDef="let element"> 
        {{element.soldtoBPName}}
        <i class="material-icons mat-text-body2 md-18" [matTooltip]="element.headerText" *ngIf="element.headerText">
          speaker_notes
        </i>
        <div class="order-flag" *ngIf="element.flags !== 0" 
        [innerHTML]="coreService.getStatusFlag(element.flags)">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="soldtoBP">
      <ng-container *ngIf="fullView">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="filter" floatLabel="never" style="margin-bottom:30px;min-width: 70px">
            <mat-label>BP #</mat-label>
            <input matInput [formControl]="bpNumFilter">
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container *ngIf="!fullView">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BP #</th>
      </ng-container>
      <td mat-cell *matCellDef="let element"> {{element.soldtoBP}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Amt.</th>
      <td mat-cell *matCellDef="let element"  class="mat-cell-right"> {{element.total}} </td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
      <td mat-cell *matCellDef="let element"> {{element.creationDate | date: 'yyyy-MM-dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  [style.display]="fullView?'table-cell':'none'">Expiration Date</th>
      <td mat-cell *matCellDef="let element" [style.display]="fullView?'table-cell':'none'"> {{element.expiryDate | date: 'yyyy-MM-dd'}} </td>
    </ng-container>

    <ng-container matColumnDef="postalAddress.city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="fullView?'table-cell':'none'"> City </th>
      <td mat-cell *matCellDef="let element" [style.display]="fullView?'table-cell':'none'"> {{element.postalAddress.city}} </td>
    </ng-container>

    <ng-container matColumnDef="intSalesRepName">
      <th mat-header-cell *matHeaderCellDef [style.display]="fullView?'table-cell':'none'">
        <div *ngIf="fullView">
          <mat-form-field style="max-width: 200px;width: 150px; margin-bottom:30px;">
            <mat-select placeholder="Owner" [formControl]="ownerFormCtrl" multiple [disabled]="owners.length<2">
              <mat-select-trigger>
                {{ownerFormCtrl.value ? ownerFormCtrl.value[0] : ''}}
                <span *ngIf="ownerFormCtrl.value?.length > 1">
                  (+{{ownerFormCtrl.value.length - 1}} {{ownerFormCtrl.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let owner of owners" [value]="owner">{{owner}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="!fullView">Owner</div>
      </th>
      <td mat-cell *matCellDef="let element" [style.display]="fullView?'table-cell':'none'"> {{element.intSalesRepName}}
      </td>
    </ng-container>

<ng-container matColumnDef="orderType">
  <th mat-header-cell *matHeaderCellDef [style.display]="fullView?'table-cell':'none'">
    <div *ngIf="fullView">
      <mat-form-field style="max-width: 120px;width: 100px; margin-bottom:30px;">
        <mat-select placeholder="Order Type" [formControl]="orderTypeFormCtrl" multiple
          [disabled]="orderTypes.length<2">
          <mat-select-trigger>
            {{orderTypeFormCtrl.value ? orderTypeFormCtrl.value[0] : ''}}
            <span *ngIf="orderTypeFormCtrl.value?.length > 1">
              (+{{orderTypeFormCtrl.value.length - 1}} {{orderTypeFormCtrl.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let orderType of orderTypes" [value]="orderType">{{orderType}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="!fullView">Order Type</div>
  </th>
  <td mat-cell *matCellDef="let element" [style.display]="fullView?'table-cell':'none'"> 
    {{element.orderType}} - <span style="font-size: x-small;">{{element.orderTypeDescr}}</span>
  </td>
</ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>
      <div *ngIf="fullView">
        <mat-form-field style="max-width: 120px;width: 100px; margin-bottom:30px;">
          <mat-select placeholder="Status" [formControl]="statusesFormCtrl" multiple [disabled]="statuses.length<2">
            <mat-select-trigger>
              {{statusesFormCtrl.value ? statusesFormCtrl.value[0] : ''}}
              <span *ngIf="statusesFormCtrl.value?.length > 1">
                (+{{statusesFormCtrl.value.length - 1}} {{statusesFormCtrl.value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="!fullView">Status</div>
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="coreService.getStatusColor(element.status)">
      {{element.status}}
    </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: isStickyHeader;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>