/* You can add global styles to this file, and also import other style files*/
 @import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
}

/*.search-autocomplete {*/
  /*margin-left: 2em;*/
  /*border: 1px solid #bcbcbc;*/
  /*border-radius: 4px;*/
  /*position: relative;*/
  /*text-align: left;*/
  /*width: 400px;*/
/*}*/

/*.search-button {*/
  /*margin: 3px;*/
/*}*/

/*.search-text {*/
  /*margin-left: 6px;*/
  /*width: 290px;*/
/*}*/

.Aligner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  overflow-wrap: break-word;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
  color: black;
}

.flexbox{
  display: flex;
}

.filler{
  visibility: hidden;
  flex-grow: 1;
}

.warning {
  color: crimson;
  font-weight: bolder;
}

.white-background{
  background-color: white;
}

a.mat-button{
  color: blue;
  text-underline: blue;
}

a.mat-button-icon{
  color: black;
}

.warn {
  color: red;
}

