
<mat-toolbar>
  <span>My Application</span>
</mat-toolbar>
<mat-grid-list cols="6">
  <mat-grid-tile [colspan]="2" class="mat-h2">
    Install Base <span *ngIf="installBaseData.length > 0"></span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" class="mat-h2">
    Quick Account Aging
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" class="mat-h2">
    Case Management <span *ngIf="caseManagementData.length > 0">(5 of {{caseManagementData.length}} Tickets)</span>
    <div><app-case-management [caseManagement]="caseManagementData"></app-case-management></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" class="mat-h2">
    Open Quotations
  <mat-card-content><app-quote-list></app-quote-list></mat-card-content>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="3" class="mat-h2">Open Sales Orders</mat-grid-tile>
</mat-grid-list>
